{% extends 'layout.html' %}

{% block pageTitle %}
Application successful
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-card" style="background: #425563; margin-top: 0;">
            <div class="nhsuk-card__content">
              <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                We've received your application
              </h1>
              
    
            </div>
          </div>
          <p>Your Healthy Start vouchers cover your benefit until 1 September 2021. </p>
          <p>After this date, you will not receive any more vouchers and instead be sent a Healthy Start card. </p>
          <h2 class="nhsuk-heading-m">What happens next</h2>

          <p>Your Healthy Start card will be sent to you within 5 working days of 1 September 2021. It will have your next payment on it. </p>      
          <p>Money will then be added to your card every 4 weeks.</p>
      

          <h2 class="nhsuk-heading-m">Give feedback</h2>
          <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30 seconds).</p>


    </div>

</div>

{% endblock %}
